.App {
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: thin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.userlist__container {
  background: #060d12;
  margin-top: 60px;
}

.simple-list {
  list-style-type: none;
  padding-left: 0;
}

.simple-list-item {
  padding: 5px 0 5px 0;
}

.user__card {
  margin: 10px;
  padding: 25px;
  background: #11191f;
  border-radius: 7px;
  color: #fcf9eb;
  min-width: 1100px;
}

.user__card-heading {
  margin-bottom: 15px;
  font-weight: normal;
  color: #535b61;
}

.input__field {
  display: block;
  margin: 5px auto;
}

.input__container {
  text-align: left;
  margin-bottom: 20px;
}

.form {
  padding-top: 10px;
  color: #fcf9eb;
  width: 20%;
  margin: 0 auto;
}

.btn {
  padding: 8px 24px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  background: #b31930;
}

.btn:hover {
  background: #700f1d;
  color: #c2c2c2;
}

.highlighted {
  color: #b31930;
  font-weight: bold;
  font-size: 18px;
}

.display--inline {
  display: inline;
}

.divider {
  margin: 0 5px;
}

.games__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.game__item {
  background: #243038;
  border-radius: 5px;
  padding: 5px;
  margin: 7px 7px 7px 0;
}

.toggle__button {
  float: right;
  position: relative;
  top: -15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
